@charset "UTF-8";

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.sub-main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 100em;
}

.sub-menu {
	min-width: 230px;
	margin-right: 80px;
}

.sub-menu-top {
	text-align: center;
	padding: 25px 0;
	border-bottom: 3px solid #33688F;
}

.sub-menu-mid {
	display: flex;
	justify-content: center;
}

.mid-table {
	border: 1;
	border-color: #D1D5D4;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}

.selected-menu {
	color: #0108d5;
	font-weight: 600;
}

.split-div {
	margin: 20px 0 20px;
	min-width: 1100px;
	background-color: #d8d4d4;
	height: 2px;
}

main {
	min-width: 1150px;
	padding: 20px;
	margin-bottom: 50px;
}

main h1:first-of-type {
	font-weight: 600;
}

.button {
	background-color: #00b918;;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}

.total-container {
	margin-top: 30px;
}


.table--container {
	width: 500px;
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	margin-top: 50px;
}
table tr, td {
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	padding: 5px 15px;
}

.first--tr {
	background-color: #f7f6f6;
	height: 30px;
	font-weight: bolder;
}

input[type="submit"]{
	background-color: #00b918;;
	border-radius: 5px;
	border: hidden;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}
.button:hover {
	color: #fff;

}

.input--box {
	border: 1px solid #D2D1D1;
	border-radius: 3px;
	height: 35px;
	margin-right: 20px;
	padding: 5px;
	margin-bottom: 10px;
}

