@charset "UTF-8";

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.sub-main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 100em;
}

.sub-menu {
	min-width: 230px;
	margin-right: 80px;
}

.sub-menu-top {
	    text-align: center;
    padding: 25px 0;
    border-bottom: 3px solid #33688F
}

.sub-menu-mid {
	display: flex;
	justify-content: center;
}

.mid-table {
	border: 1;
	border-color: #D1D5D4;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}

.selected-menu {
	color: rgb(7, 90, 164);
	font-weight: 600;
}

main {
	min-width: 1150px;
	padding: 20px;
	margin-bottom: 50px;
}

main h1:first-of-type {
	font-weight: 600;
}

.split-div {
    min-width: 1100px;
    height: 2px;
    background-color: gray;
    margin: 20px 0 50px;
}

.select--button {
    margin-bottom: 30px;
}

.button {
    background-color: rgb(2, 50, 104);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    padding: 3px;
}

.total-container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.table-container {
	width: 500px;
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	margin-top: 50px;
}

.first-tr {
	background-color: #f7f6f6;
	height: 30px;
	font-weight: bolder;
}

.sub--menu--top h2 {
    margin: 0;
    font-weight: 600;
    color: #133c63;
}

.h2, h2 {
    font-size: 2rem;
}

table {
    border-collapse: collapse;
}

.form-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-box {
	height: 35px;
	margin-right: 20px;
	margin-bottom: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210, 209, 209);
	border-image: initial;
	border-radius: 3px;
	padding: 5px;
	
}