@charset "UTF-8";

body {
    margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.t-main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 100em;
}

.sub-menu {
    min-width: 230px;
    margin-right: 80px;
}

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.sub-menu-top {
	text-align: center;
    padding: 25px 0;
    border-bottom: 3px solid black;
}

.sub-menu-mid {
	display: flex;
    justify-content: center;
}

main {
    min-width: 1150px;
    padding: 20px;
    margin-bottom: 50px;
}

main h1:first-of-type {
    font-weight: 600;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.split-div {
	margin: 20px 0 20px;
	min-width: 1100px;
    height: 2px;
    background-color: gray;
}

.select-button {
	margin-bottom: 30px;
}

.button {
	background-color: #66b5fe;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}

.container {
	max-width: 1140px;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-container {
	margin-top: 30px;
}

form {
	display: block;
    unicode-bidi: isolate;
}

.d-flex {
	display: flex;
	margin: 0;
}

li {
    list-style: none;
}

.input-box {
	height: 35px;
	margin-right: 20px;
	margin-bottom: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210, 209, 209);
	border-image: initial;
	border-radius: 3px;
	padding: 5px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select {
    word-wrap: normal;
}

button, select {
    text-transform: none;
}

.mid-table {
	border: 1;
	border-color: #D1D5D4;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}

.selected-menu {
	color: #0108d5;
	font-weight: 600;
}

.total-container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.table-container {
	width: 500px;
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	margin-top: 50px;
}

.first-tr {
	background-color: #f7f6f6;
	height: 30px;
	font-weight: bolder;
}


.button-delete {
	background-color: rgb(210, 209, 209);
	color: #fff;
	border: none;
	padding: 6px 10px;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;


.form-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.button-delete:hover {
	background-color: #d32f2f;
}


}