@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding-bottom: 100px;
}

footer {
    display: flex;
    border-top: 1px solid #d0d7de;
    justify-content: center;
    height: 100px;
    bottom: 0;
    width: 100%;
   
}

.foot {
    color: #333;
    padding: 20px;
    font-size: 14px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.foot--logo {
    width: 40px;
    height: 40px;
}