@charset "UTF-8";
.justify--containers {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 50px;
}


.main--page--div {
	margin-bottom: 50px;
	display: flex;
}

.main--page--img {
	width: 1500px;
	height: 500px;
	margin-bottom: 40px;
}


.main--page--notice {
	margin: 0 120px;
}

.main--page--notice tr td:first-of-type {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin-right: 20px;
}

.main--page--notice tr td a {
	font-size: 19px;
}
.main--page--calander{
	margin: 0 120px;
}
.main--page--calander tr td:first-of-type {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin-right: 20px;
	
	padding-right: 28px;
	text-align: right;
}

.main--page--calander tr td:last-of-type {
	font-size: 19px;
	max-width: 400px;
	min-width: 341px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main--page--split {
	height: 2px;
	width: 100%;
	background-color: #3c668a;
	margin-bottom: 10px;
}

.main--page--div h3 a {
	font-weight: 600;
	color: #132A50;
}

.main--page--profile {
	min-width: 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	justify-content: flex-end;
	align-items: flex-start;
	margin-left: 60px;
}

.main--page--profile table {
	margin-bottom: 25px;
}

.main--page--profile table td {
	color: #585858;
	height: 27px;
}

.main--page--profile table tr td:first-of-type {
	padding-right: 20px;
}

.profile--button--div {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.profile--button--div button {
	background-color: #98afcb;
	padding: 3px 13px 4px;
	border: none;
	border-radius: 5px;
	color: white;
}

.main--page--info {
	border: 1px solid #E0E0E0;
	border-radius: 20px;
	margin-left: 60px;
	padding: 20px;
}

.main--page--info p {
	margin: 10px 0 0 0;
	color: #585858;
}

.main--page--info p a {
	color: #1d57a3;
	font-weight: 600;
}

footer {
	margin: 80px 0 30px 0;
	text-align: center;
}