@charset "UTF-8";
@charset "UTF-8";

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.sub-main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 100em;
}

.sub-menu {
	min-width: 230px;
	margin-right: 80px;
}


.sub-menu-top {
	text-align: center;
	padding: 25px 0;
	border-bottom: 3px solid black;
}

.sub-menu-mid {
	display: flex;
	justify-content: center;
}

.mid-table {
	border: 1;
	border-color: #D1D5D4;
}

.hidden {
    display: none;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}

.selected-menu {
	color: #0108d5;
	font-weight: 600;
}

.split-div {
	margin: 20px 0 20px;
	min-width: 1100px;
	background-color: #d8d4d4;
	height: 2px;
}

main {
	min-width: 1150px;
	padding: 20px;
	margin-bottom: 50px;
}

main h1:first-of-type {
	font-weight: 600;
}

.button {
	background-color: rgb(2, 50, 104);
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}

.total-container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.table-container {
	width: 500px;
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	margin-top: 50px;
}

.first-tr {
	background-color: #f7f6f6;
	height: 30px;
	font-weight: bolder;
}


.d-flex {
	display: flex;
	margin: 0;
}

.input-box {
	height: 35px;
	margin-right: 20px;
	margin-bottom: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(210, 209, 209);
	border-image: initial;
	border-radius: 3px;
	padding: 5px;
	
}

.button-delete {
	background-color: rgb(210, 209, 209);
	color: #fff;
	border: none;
	padding: 6px 10px;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	
}

/* .form-body {
    display: flex;
    flex-direction: column;
} */

.form-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.button-delete:hover {
	background-color: #d32f2f;
}

.button-add {
    background-color: rgb(210, 209, 209);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-add:hover {
    background-color: #45a049; 
}