@charset "UTF-8";

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48;
}

.material--li {
	display: flex; 
	align-items: center;
	margin-right: 5px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	margin-bottom: 40px;
}

.logo {
	width: 320px;
	height: 80px;
	margin: 5px 50px 5px 10px;
	
}

.header--top {
	min-width: 100em;
	height: 40px; 
	background-color: #031734;
	display: flex;
	justify-content: right;
}

.header--top ul {
	display: flex;
	align-items: center;
	margin: 0 30px;
}

.header--top ul li {
	color: white;
}

.header--top ul li a {
	color: white;
}

.main--menu {
	padding: 10px 5px;
	min-width: 100em;
	height: 100px; 
	display: flex;
	align-items: center;
}

.main--menu ul {
	display: flex;
	align-items: center;
	margin: 0;
}

.main--menu ul li {
	margin: 0 20px;
}

.main--menu ul li a {
	padding: 27px 50px;
	font-size: 27px;
	font-weight: 600;
}

.main--menu ul li a:hover {
	border-bottom: 4px solid #075AA4;
	color: #075AA4;
}

.sub--menu {
	min-width: 230px; 
	margin-right: 80px;
}

.sub--menu--top {
	text-align: center;
	padding: 25px 0;
	border-bottom: 3px solid #33688F;
}

.sub--menu--top h2 {
	margin: 0;
	font-weight: 600;
	color: #133c63;
}

.sub--menu--mid {
	display: flex;
	justify-content: center;
}

.sub--menu--table {
	border-color: #D1D5D4;
	
}

.sub--menu--table td {
	border-left: hidden;
	border-right: hidden;
	width: 200px;
	height: 71px;
	padding: 20px 0;
	font-size: 20px;
}

.sub--menu--table td a{
	padding: 20px 10px;
}

.sub--menu--table tr:nth-last-of-type(1) td {
	border-bottom: hidden;
	height: 72px !important;
}

.sub--menu--table tr:nth-of-type(1) td {
	border-top: hidden;
}

main {
	min-width: 1150px; 
	padding: 20px;
	margin-bottom: 50px;
}

main h1:first-of-type {
	font-weight: 600;
}

.split--div {
	min-width: 1100px;
	height: 2px;
	background-color: gray;
	margin: 20px 0 50px;
}

.selected--menu,
.sub--menu--table td a:hover {
	color: #075AA4;
	font-weight: 600;
}

.no--list--p {
	font-size: 20px;
	color: #6c6a6a;
	font-weight: 600;
}

.page--list {
	display: flex;
	justify-content: center;
	p-left: 10px; 
}

.page--list span {
	margin: 30px 20px;
}

.selected--page {
	font-weight: 700; 
	color: #007bff;
}

.sub--list--table th {
	padding: 3px 9px;
	text-align: center;
	background-color: #F0EFEF;
}

.sub--list--table td {
	padding: 1px 9px;
	text-align: center;
}

.sub--list--name {
	text-align: left !important;
}

.sub--filter {
	margin-bottom: 50px;
}

.sub--filter form {
	display: flex;
}

.sub--filter form div {
	background-color: buttonshadow;
	padding: 13px 13px 7px 10px;
}

.sub--filter input[type="number"] {
	width: 57px;
	padding-left: 3px;
}

.sub--filter select[name="deptId"] {
	width: 173px;
}

.sub--filter select[name="period"] {
	width: 135px;
	margin-right: 15px;
}

.sub--filter label {
	margin-right: 5px;
}

.sub--filter input, .sub--filter select {
	margin-right: 10px;
	border-radius: 5px;
	border-width: 1px;
}

.sub--filter button {
	background-color: gray;
	padding: 2px 6px;
	border: none;
	border-radius: 5px;
	color: white;
	height: 28px;
}

.sub--plan--view li a:hover {
	color: black;
}

.sub--list--table td button {
	padding: 0px 4px;
	border: none;
	border-radius: 4px;
	width: 100%;
	color: white;
	height: 26px;
}

.sub--list--button--row {
	padding: 2px !important;
}

.preStuSubList--button {
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	color: white;
	background-color: gray;
	font-size: 20px;
	margin-right: 20px;
}
.d-flex {
    display: flex;
}